.features {
  background: url("../Background.svg") no-repeat center center;
  background-size: cover;
  height: 590px;
  position: relative;
}

@media (max-width: 1024px) {
  .features {
      height: 500px; 
      background-position: top;
      position: relative;
  }
}

@media (max-width: 768px) {
  .features {
      height: 400px; 
      background-size: contain;
      position: relative;
  }
}

@media (max-width: 480px) {
  .features {
      height: 300px; 
      background-position: center;
      background-size: contain; 
      position: relative;
  }
}
